<mat-nav-list class="nav-list" dense>
  <mat-list-item 
  sideNavAccordion
  class="sidebar-list-item" 
  *ngFor="let item of dropdownItems"
  [ngClass]="{'has-submenu': item.type === 'dropDown'}"
  routerLinkActive="open">
  <a class="item" *ngIf="item.type === 'dropDown'">
      <span
      class="menu-item-tooltip" 
      [matTooltip]="item.tooltip" 
      matTooltipPosition="above"></span>
      <mat-icon>{{item.icon}}</mat-icon>
      <span>{{item.name}}</span>
      <span fxFlex></span>
      <mat-icon>arrow_drop_down</mat-icon>
  </a>
      <!-- <mat-icon>{{item.icon}}</mat-icon>
      <span>{{item.name}}</span>
      <span fxFlex></span>
      <mat-icon>arrow_drop_down</mat-icon> -->
    <mat-nav-list class="sub-menu" *ngIf="item.type === 'dropDown'">
      <mat-list-item *ngFor="let subItem of item.sub">
        <a>{{subItem.name}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-list-item>
</mat-nav-list>