<mat-sidenav-container class="app-side-nav-container">
  <mat-sidenav 
  #sidenav [opened]="!isNavOver()" 
  [mode]="isNavOver() ? 'over' : 'side'" 
  class="sidebar-panel"
  >
  <div id="scroll-area" class="navigation-hold">
      <!-- App Logo -->
      <div class="branding default-bg">
          <img src="assets/images/logo/logo.png" alt="" class="app-logo">
          <!-- Two different logos for dark and light themes -->
          <img 
          src="assets/images/logo/logo-text-white.png" 
          alt="" 
          class="app-logo-text"
          *ngIf="themeService.activatedThemeName.indexOf('dark') !== -1">
          <img 
          src="assets/images/logo/logo-text.png" 
          alt="" 
          class="app-logo-text"
          *ngIf="themeService.activatedThemeName.indexOf('dark') === -1">
      </div>
      <div class="nav-list-container">
          <navigation></navigation>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>